@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

td {
  padding: 0.5rem;
}

@layer components {
  .navbar {
    @apply h-12 bg-purple-700 opacity-80 text-white flex justify-between items-center px-6 relative z-10;
  }
  .container {
    @apply mx-auto px-6;
  }
  .btn {
    @apply bg-purple-700 hover:bg-purple-600 text-white px-8 py-3 rounded-full cursor-pointer;
  }
  .btn-white {
    @apply bg-gray-300 hover:bg-gray-200 text-black;
  }
  .btn-red {
    @apply bg-red-500 hover:bg-red-600 text-white;
  }
  .h1 {
    @apply font-bold text-4xl mb-2;
  }
  .h2 {
    @apply font-bold text-xl mb-2;
  }
  .input {
    @apply pt-3 pb-2 w-full border-b-2 border-gray-200 focus:border-black focus:outline-none focus:ring-0;
  }
  .textarea {
    @apply p-2 w-full border-2 border-gray-200 focus:border-black focus:outline-none focus:ring-0;
  }
  .alert {
    @apply bg-gray-200 text-black my-2 p-2;
  }
  .alert-success {
    @apply bg-green-600 text-white my-2 p-2;
  }
  .alert-danger {
    @apply bg-red-500 text-white my-2 p-2;
  }
  .form-group {
    @apply mt-4 mb-4;
  }
  .form-text {
    @apply text-xs text-gray-600;
  }
  .th {
    @apply border-white border-solid border-2 py-2;
  }
}
